#navbar1 {
    background-color: #9697a5;
}

#navbrand {
    color: black;
}

#navitem1, #navitem2, #navitem3 {
    color: black;
}


label {
    color:#e6f2ff;
}

h1 {
    color: #9697a5;
}
